body {
    background-color: black;
    font-family: var(--font-dm-sans);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.logo {
    background: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;

}

.sidebar_biblioteca {
    position: fixed;
    padding: 12px;
    width: 300px;
    top: 180px;
}

.biblioteca_navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
    height: 330px;
}

.sua_biblioteca a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;

    padding: 0 20px 10px 20px;
}

.sua_biblioteca .fa-plus {
    margin-left: 56px;
}

.criar_playlist {
    background-color: #242424;
    color: #b3b3b3;
    font-weight: 600;

    margin: 30px 0;
    padding: 16px 20px;
    border-radius: 10px;
    width: 235px;
}

.criar_playlist b {
    font-size: 15px;
    color: white
}

.criar_playlist p {
    margin-top: 10px;
    color: white;
    font-size: 12px;
}

.botão_criarplaylist a button {
    justify-content: center;
    background-color: #FFF;
    color: #000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;

    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    border: 0;
    width: 113px;

}

.cookies {
    margin: 25px 10px;
}

.cookies a {
    color: #b3b3b3;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
    margin-left: 10px;
}

.language .language__button {
    align-items: center;
    background-color: transparent;
    border: 1px solid #878787;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    width: 170px;
    margin: 8px;
    margin-top: 30px;
    padding: 8px;
    border-radius: 20px;
}